<tr data-position='<%= rosterSpot.player.get('position') %>'
    data-roster-spot='<%= rosterSpot.get('position') %>'
    data-id='<%= rosterSpot.player.id %>'
		class='roster-pos'>
  <td>
    <%= rosterSpot.get('position') %>
  </td>
  <td class='actions'>
    <div class='btn-group btn-group-xs'>
      <% if (rosterSpot.player.get('team')) { %>
        <% if (rosterSpot.player.get('team').current_team) { %>
          <button class="drop-player btn btn-danger" id='drop-<%= rosterSpot.player.id %>'
                  data-id='<%= rosterSpot.player.id %>' data-name='<%= rosterSpot.player.fullName() %>'
                  data-container="body" data-placement="top">
            <span class='glyphicon glyphicon-minus-sign'></span>
          </button>
        <% } else if (rosterSpot.player.get('team').id) { %>
          <button class="trade-player btn btn-primary" data-id='<%= rosterSpot.id %>'
                  data-toggle="modal" data-target="#trade-modal">
            <span class='glyphicon glyphicon-transfer'></span>
          </button>
      <% }} %>
      <button class='watch-player btn btn-default' data-id='<%= rosterSpot.player.id %>'>
        <span class='glyphicon glyphicon-eye-open'></span>
      </button>
    </div>
  </td>
  <td>
		<div class='c c-<%= rosterSpot.player.get('nfl_team').toLowerCase() %>'>
			<div></div>
		</div>
    <%= rosterSpot.player.fullName() %><br>
    <small class='smaller'>
      <%= rosterSpot.player.get('position') %> / <%= rosterSpot.player.get('nfl_team') %>
      <% if (rosterSpot.player.get('team') && rosterSpot.player.get('team'.name)) { %>
        / <%= rosterSpot.player.get('team').name %>
      <% } %>
    </small>
  </td>
  <td>
    <%= rosterSpot.player.get('sacks') %>
  </td>
  <td>
    <%= rosterSpot.player.get('interceptions') %>
  </td>
  <td>
    <%= rosterSpot.player.get('fum_rec') %>
  </td>
  <td>
    <%= rosterSpot.player.get('safeties') %>
  </td>
  <td>
    <%= rosterSpot.player.get('def_tds') %>
  </td>
  <td>
    <%= rosterSpot.player.get('ret_tds') %>
  </td>
  <td>
    <%= rosterSpot.player.get('pts_allowed') %>
  </td>
  <td>
    <%= parseFloat(Math.round(rosterSpot.player.points() * 100) / 100).toFixed(2) %>
  </td>
</tr>