<tr data-position='<%= rosterSpot.player.get('position') %>'
    data-roster-spot='<%= rosterSpot.get('position') %>'
    data-id='<%= rosterSpot.player.id %>'
    data-roster-id='<%= rosterSpot.id %>'>
  <td>
    <%= rosterSpot.get('position') %>
  </td>
	<% if (rosterSpot.player.id) { %>
	<% if (FantasyFootball.league.get('member')) { %>
	  <td class='actions'>
	    <div class='btn-group btn-group-xs'>
	        <% if (ownedTeam) { %>
          <button class="drop-player btn btn-danger btn-xs"
                  data-id='<%= rosterSpot.player.id %>' data-name='<%= rosterSpot.player.fullName() %>'
                  data-container="body" data-placement="top">
            <span class='glyphicon glyphicon-minus-sign'></span>
          </button>
        <% } else { %>
          <button class="trade-player btn btn-primary btn-xs" data-id='<%= rosterSpot.id %>'
                  data-toggle="modal" data-target="#trade-modal">
            <span class='glyphicon glyphicon-transfer'></span>
          </button>
	      <% } %>
	      <button class='watch-player btn btn-default btn-xs' data-id='<%= rosterSpot.player.id %>'>
	        <span class='glyphicon glyphicon-eye-open'></span>
	      </button>
	    </div>
	  </td>
	<% } %>
  <td>
		<div class='nfl-logo nfl-logo-<%= rosterSpot.player.get('nfl_team').toLowerCase() %>'>
			<div></div>
		</div>
    <%= rosterSpot.player.fullName() %><br>
    <small class='smaller'>
      <%= rosterSpot.player.get('position') %> / <%= rosterSpot.player.get('nfl_team') %>
      <% if (rosterSpot.player.get('team') && rosterSpot.player.get('team'.name)) { %>
        / <%= rosterSpot.player.get('team').name %>
      <% } %>
    </small>
  </td>
  <td>
    <%= rosterSpot.player.get('sacks') %>
  </td>
  <td>
    <%= rosterSpot.player.get('interceptions') %>
  </td>
  <td>
    <%= rosterSpot.player.get('fum_rec') %>
  </td>
  <td>
    <%= rosterSpot.player.get('safeties') %>
  </td>
  <td>
    <%= rosterSpot.player.get('def_tds') %>
  </td>
  <td>
    <%= rosterSpot.player.get('ret_tds') %>
  </td>
  <td>
    <%= rosterSpot.player.get('pts_allowed') %>
  </td>
  <td>
    <%= parseFloat(Math.round(rosterSpot.player.points() * 100) / 100).toFixed(2) %>
  </td>
	<% } else { %>
		<td colspan='13' class='centered'>Empty</td>
	<% } %>
</tr>