<tr data-position='<%= rosterSpot.player.get('position') %>'
    data-roster-spot='<%= rosterSpot.get('position') %>'
    data-id='<%= rosterSpot.player.id %>'
    data-roster-id='<%= rosterSpot.id %>'>
  <td>
		<% if (rosterSpot.get('position') === 'BN') { %>
			<%= rosterSpot.get('position') %>
		<% } else { %>
	    <strong><%= rosterSpot.get('position') %></strong>
		<% } %>
  </td>
	<% if (rosterSpot.player.id) { %>
	<% if (FantasyFootball.league.get('member')) { %>
	  <td class='actions'>
	    <div class='btn-group btn-group-xs'>
	        <% if (ownedTeam) { %>
          <button class="drop-player btn btn-danger btn-xs"
                  data-id='<%= rosterSpot.player.id %>' data-name='<%= rosterSpot.player.fullName() %>'
                  data-container="body" data-placement="top">
            <span class='glyphicon glyphicon-minus-sign'></span>
          </button>
        <% } else { %>
          <button class="trade-player btn btn-primary btn-xs" data-id='<%= rosterSpot.id %>'
                  data-toggle="modal" data-target="#trade-modal">
            <span class='glyphicon glyphicon-transfer'></span>
          </button>
	      <% } %>
	      <button class='watch-player btn btn-default btn-xs' data-id='<%= rosterSpot.player.id %>'>
	        <span class='glyphicon glyphicon-eye-open'></span>
	      </button>
	    </div>
	  </td>
	<% } %>
  <td>
		<div class='nfl-logo nfl-logo-<%= rosterSpot.player.get('nfl_team').toLowerCase() %>'>
			<div></div>
		</div>
    <%= rosterSpot.player.fullName() %><br>
    <small class='smaller sub-row'>
      <%= rosterSpot.player.get('position') %> / <%= rosterSpot.player.get('nfl_team') %>
    </small>
  </td>
	<td>Game stats here</td>
  <% if (rosterSpot.player.get('bye') === true) { %>
    <td colspan='10' class='centered'>Bye</td>
  <% } else { %>
    <td>
      <%= rosterSpot.player.get('pass_yards') %>
    </td>
    <td>
      <%= rosterSpot.player.get('pass_tds') %>
    </td>
    <td>
      <%= rosterSpot.player.get('pass_ints') %>
    </td>
    <td>
      <%= rosterSpot.player.get('rush_yards') %>
    </td>
    <td>
      <%= rosterSpot.player.get('rush_tds') %>
    </td>
    <td>
      <%= rosterSpot.player.get('rec_yards') %>
    </td>
    <td>
      <%= rosterSpot.player.get('rec_tds') %>
    </td>
    <td>
      <%= rosterSpot.player.get('two_pt_conv') %>
    </td>
    <td>
      <%= rosterSpot.player.get('fumbles') %>
    </td>
    <td>
      <%= parseFloat(Math.round(rosterSpot.player.points() * 100) / 100).toFixed(2) %>
    </td>
  <% } %>
	<% } else { %>
		<td colspan='13' class='centered'>Empty</td>
	<% } %>
</tr>