<div class='dark shadow-sm clearfix padded margin-md relative'>
  <div class='relative clearfix'>
    <h1 class='pull-left no-margin'>
      <%= team.escape('name') %>
      <a href="#">
        <small><%= FantasyFootball.league.escape('name') %></small>
      </a>
    </h1>
    <div class='absolute bottom-right'>
      <% if (matchup) { %>
        <% if (matchup.get('home_team') && matchup.get('away_team')) { %>
          <a href='#/leagues/<%= team.get('league_id') %>/matchups/<%= matchup.id %>'>
            Week <%= matchup.escape('week') %></a> vs. <%= opponent.name %>
          <small>(<%= opponent.wins %>-<%= opponent.losses %>-<%= opponent.ties %>)</small>
        <% } %>
      <% } %>
    </div>
    <h4 class='no-margin absolute top-right'>
      <%= team.escape('wins') %>-<%= team.escape('losses') %>-<%= team.escape('ties') %> /
      1st place
    </h4>
  </div>

  <% team.sentTrades().forEach(function(trade) { %>
    <div class='alert alert-info padded-sm no-margin-bottom margin-top-sm clearfix fade in'>
      <div class='margin-top-xs pull-left'>
        <small><span class='glyphicon glyphicon-transfer'></span></small>
        <%= FantasyFootball.league.teams().get(trade.get('sender').id).escape('name') %>
        <small><span class='glyphicon glyphicon-chevron-right'></span></small>
        <%= FantasyFootball.league.teams().get(trade.get('receiver').id).escape('name') %>
      </div>
      <button class='btn btn-xs btn-primary pull-right trade-sent-btn'
              data-id='<%= trade.id %>'
              data-toggle="modal"
              data-target="#trade-modal">
        View trade
      </button>
    </div>
  <% }) %>
  <% team.receivedTrades().forEach(function(trade) { %>
    <div class='alert alert-info padded-sm no-margin-bottom margin-top-sm clearfix'>
      <div class='margin-top-xs pull-left'>
        <small><span class='glyphicon glyphicon-transfer'></span></small>
          <%= FantasyFootball.league.teams().get(trade.get('sender').id).escape('name') %>
        </span>
        <small><span class='glyphicon glyphicon-chevron-right'></span></small>
        <%= FantasyFootball.league.teams().get(trade.get('receiver').id).escape('name') %>
      </div>
      <button class='btn btn-xs btn-primary pull-right trade-received-btn'
              data-id='<%= trade.id %>'
              data-toggle="modal"
              data-target="#trade-modal">
        View trade
      </button>
    </div>
  <% }) %>
</div>

<div class='row'>
  <div class='col-sm-7 btn-group btn-group-xs' data-toggle='buttons'>
    <span class='pull-left margin-right-sm margin-top-xs'>Week #</span>
    <label class='week-select btn btn-primary btn-hover-border-light-blue'>
      <input type='radio' name='week' data-week-id='all'>Season
    </label>
    <% for (i = 1; i < FantasyFootball.league.escape('current_week'); i++) { %>
      <label class='week-select btn btn-primary'>
        <input type='radio' name='week' data-week-id='<%= i %>'><%= i %>
      </label>
    <% } %>
  </div>

  <div class='col-sm-5 pull-right'>
    <ul class='pull-right list-inline'>
      <li>
        <a href='#/players'>
          Add Players
        </a>
      </li> /
      <li>
        <a href="#/teams/<%= team.id %>/watched">
          Watch List
        </a>
      </li>/
      <li class="dropdown" id="teams">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teams<b class="caret"></b></a>

          <ul class="dropdown-menu align-right">
            <% FantasyFootball.league.teams().each(function(otherTeam) { %>
              <li>
                <a href="#/teams/<%= otherTeam.id %>"><%= otherTeam.escape('name') %></a>
              </li>
            <% }); %>
          </ul>
      </li>
    </ul>
  </div>
</div>

<table class='table table-hover table-striped'>
	<colgroup>
		<col class='col-3-pct'>
		<col class='col-8-pct'>
		<col class='col-21-pct'>
		<col class='col-30-pct'>
		<col class='col-5-pct'>
		<col class='col-3-pct'>
		<col class='col-3-pct'>
		<col class='col-5-pct'>
		<col class='col-3-pct'>
		<col class='col-5-pct'>
		<col class='col-3-pct'>
		<col class='col-3-pct'>
		<col class='col-5-pct'>
		<col class='col-4-pct'>
	</colgroup>
  <thead>
    <tr class='info'>
      <th rowspan='2'>POS</th>
      <% if (FantasyFootball.league.get('member')) { %><th rowspan='2'>Action</th><% } %>
      <th rowspan='2'>Player</th>
      <th rowspan='2'>Status</th>
      <th colspan='3' class='centered helper'>
        <small>Passing</small>
      </th>
      <th colspan='2' class='centered helper'>
        <small>Rushing</small>
      </th>
      <th colspan='2' class='centered helper'>
        <small>Receiving</small>
      </th>
      <th rowspan='2'>2 Pt</th>
      <th rowspan='2'>Fum<br>Lost</th>
      <th rowspan='2'>Points</th>
    </tr>
    <tr class='info'>
      <th>Yds</th>
      <th>TD</th>
      <th>Int</th>
      <th>Yds</th>
      <th>TD</th>
      <th>Yds</th>
      <th>TD</th>
    </tr>
  </thead>
  <tbody id='lineup'>
    <tr class='centered dark-section'><td colspan='14' class='no-padding'>
      <small>Starting Lineup</small>
    </td></tr>
    <% rosterSpots.startingQB().forEach(function(rosterQB) { %>
      <%= JST['teams/roster_row']({ rosterSpot: rosterQB, ownedTeam: ownedTeam }) %>
    <% }) %>
    <% rosterSpots.startingRB().forEach(function(rosterRB) { %>
      <%= JST['teams/roster_row']({ rosterSpot: rosterRB, ownedTeam: ownedTeam }) %>
    <% }) %>
    <% rosterSpots.startingWR().forEach(function(rosterWR) { %>
      <%= JST['teams/roster_row']({ rosterSpot: rosterWR, ownedTeam: ownedTeam }) %>
    <% }) %>
    <% rosterSpots.startingTE().forEach(function(rosterTE) { %>
      <%= JST['teams/roster_row']({ rosterSpot: rosterTE, ownedTeam: ownedTeam }) %>
    <% }) %>
    <% rosterSpots.startingRWT().forEach(function(rosterRWT) { %>
      <%= JST['teams/roster_row']({ rosterSpot: rosterRWT, ownedTeam: ownedTeam }) %>
    <% }) %>
    <tr class='centered dark-section'><td colspan='14' class='no-padding'>
      <small>Bench</small>
    </td></tr>
    <% rosterSpots.benchPlayers().forEach(function(benchPlayer) { %>
      <%= JST['teams/roster_row']({ rosterSpot: benchPlayer, ownedTeam: ownedTeam }) %>
    <% }) %>
  </tbody>
</table>

<table class='table table-hover table-striped margin-top-md'>
  <thead>
    <tr class='info'>
      <th rowspan='2' class='no-border-top'>POS</th>
      <th rowspan='2' class='no-border-top'>Action</th>
      <th rowspan='2' class='no-border-top'>Player</th>
      <th colspan='6' class='centered helper'>
        <small>Made</small>
      </th>
      <th colspan='6' class='centered helper'>
        <small>Missed</small>
      </th>
      <th rowspan='2' class='no-border-top'>Points</th>
    </tr>
    <tr class='info'>
      <th>PAT</th>
      <th>0-19</th>
      <th>20-29</th>
      <th>30-39</th>
      <th>40-49</th>
      <th>50+</th>
      <th>PAT</th>
      <th>0-19</th>
      <th>20-29</th>
      <th>30-39</th>
      <th>40-49</th>
      <th>50+</th>
    </tr>
  </thead>
  <tbody id='kicker'>
    <tr class='centered dark-section'><td colspan='16' class='no-padding'>
      <small>Starting Kicker</small>
    </td></tr>
    <% rosterSpots.startingK().forEach(function(rosterK) { %>
      <%= JST['teams/kicker_row']({ rosterSpot: rosterK, ownedTeam: ownedTeam }) %>
    <% }) %>
  <% if (rosterSpots.benchK().length > 0) { %>
      <tr class='centered dark-section'><td colspan='16' class='no-padding'>
        <small>Bench</small>
      </td></tr>
      <% rosterSpots.benchK().forEach(function(benchK) { %>
        <%= JST['teams/kicker_row']({ rosterSpot: benchK, ownedTeam: ownedTeam }) %>
      <% }) %>
    <% } %>
  </tbody>
</table>

<table class='table table-hover table-striped margin-top-md'>
  <thead>
    <tr class='info'>
      <th rowspan='2' class='no-border-top'>POS</th>
      <th rowspan='2' class='no-border-top'>Action</th>
      <th rowspan='2' class='no-border-top'>Player</th>
      <th rowspan='2' class='no-border-top'>Sacks</th>
      <th colspan='2' class='centered helper'>
        <small>Turnovers</small>
      </th>
      <th colspan='2' class='centered helper'>
        <small>Scores</small>
      </th>
      <th rowspan='2' class='no-border-top'>Ret TD</th>
      <th rowspan='2' class='no-border-top'>Pts Allow</th>
      <th rowspan='2' class='no-border-top'>Points</th>
    </tr>
    <tr class='info'>
      <th>Int</th>
      <th>Fum Rec</th>
      <th>Saf</th>
      <th>TD</th>
    </tr>
  </thead>
  <tbody id='defense'>
    <tr class='centered dark-section'><td colspan='16' class='no-padding'>
      <small>Starting Defense</small>
    </td></tr>
    <% rosterSpots.startingDEF().forEach(function(rosterDEF) { %>
      <%= JST['teams/defense_row']({ rosterSpot: rosterDEF, ownedTeam: ownedTeam }) %>
    <% }) %>
  <% if (rosterSpots.benchDEF().length > 0) { %>
      <tr class='centered dark-section'><td colspan='16' class='no-padding'>
        <small>Bench</small>
      </td></tr>
      <% rosterSpots.benchDEF().forEach(function(benchDEF) { %>
        <%= JST['teams/defense_row']({ rosterSpot: benchDEF, ownedTeam: ownedTeam }) %>
      <% }) %>
    <% } %>
  </tbody>
</table>

<div class="modal fade" id="trade-modal" tabindex="-1" role="dialog" aria-labelledby="addDropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>