<td>
  <%= player.get('position') %>
</td>
<td class='actions'>
  <% if (player.get('team').current_team) { %>
    <button class="drop-player btn btn-default btn-xs" id='drop-<%= player.id %>'
            data-id='<%= player.id %>' data-name='<%= player.fullName() %>'
            data-container="body" data-placement="top">
      <span class='glyphicon glyphicon-minus-sign text-danger'></span>
    </button>
  <% } else if (player.get('team').id) { %>
    <button class="trade-player btn btn-default btn-xs" data-id='<%= player.id %>'
            data-toggle="modal" data-target="#tradeModal">
      <span class='glyphicon glyphicon-transfer text-info'></span>
    </button>
  <% } else { %>
    <button class="add-player btn btn-default btn-xs" data-id='<%= player.id %>'
            data-toggle="modal" data-target="#addDropModal">
      <span class='glyphicon glyphicon-plus-sign text-success'></span>
    </button>
  <% } %>
  <button class='watch-player btn btn-default btn-xs' data-id='<%= player.id %>'>
    <span class='glyphicon glyphicon-eye-open'></span>
  </button>
</td>
<td>
  <%= player.fullName() %><br>
  <small class='smaller'><%= player.get('position') %> / <%= player.get('nfl_team') %></small>
</td>
<td>
  <%= player.get('pass_yards') %>
</td>
<td>
  <%= player.get('pass_tds') %>
</td>
<td>
  <%= player.get('pass_ints') %>
</td>
<td>
  <%= player.get('rush_yards') %>
</td>
<td>
  <%= player.get('rush_tds') %>
</td>
<td>
  <%= player.get('rec_yards') %>
</td>
<td>
  <%= player.get('rec_tds') %>
</td>
<td>
  <%= player.get('two_pt_conv') %>
</td>
<td>
  <%= player.get('fumbles') %>
</td>
<td>
  <%= parseFloat(Math.round(player.points() * 100) / 100).toFixed(2) %>
</td>