<td>
  <%= player.get('position') %>
</td>
<td>
  <span class='glyphicon glyphicon-minus-sign danger'></span>
  <span class='glyphicon glyphicon-eye-open'></span>
</td>
<td>
  <%= player.get_name() %>
</td>
<td>
  <%= player.get('pass_yards') %>
</td>
<td>
  <%= player.get('pass_tds') %>
</td>
<td>
  <%= player.get('pass_ints') %>
</td>
<td>
  <%= player.get('rush_yards') %>
</td>
<td>
  <%= player.get('rush_tds') %>
</td>
<td>
  <%= player.get('rec_yards') %>
</td>
<td>
  <%= player.get('rec_tds') %>
</td>
<td>
  <%= player.get('two_pt_conv') %>
</td>
<td>
  <%= player.get('fumbles') %>
</td>
<td>
  <%= parseFloat(Math.round(player.points() * 100) / 100).toFixed(2) %>
</td>