<td>
  <%= player.get('position') %>
</td>
<td>
<button class="add-player btn btn-default btn-xs" data-id='<%= player.id %>' data-toggle="modal" data-target="#addDropModal">
  <span class='glyphicon glyphicon-plus-sign text-success'></span>
</button>
  <button class='watch-player btn btn-default btn-xs' data-id='<%= player.id %>'>
    <span class='glyphicon glyphicon-eye-open'></span>
  </button>
</td>
<td>
  <%= player.get_name() %><br>
  <small class='smaller'><%= player.get('position') %> / <%= player.get('nfl_team') %></small>
</td>
<td>
  <%= player.get('pass_yards') %>
</td>
<td>
  <%= player.get('pass_tds') %>
</td>
<td>
  <%= player.get('pass_ints') %>
</td>
<td>
  <%= player.get('rush_yards') %>
</td>
<td>
  <%= player.get('rush_tds') %>
</td>
<td>
  <%= player.get('rec_yards') %>
</td>
<td>
  <%= player.get('rec_tds') %>
</td>
<td>
  <%= player.get('two_pt_conv') %>
</td>
<td>
  <%= player.get('fumbles') %>
</td>
<td>
  <%= parseFloat(Math.round(player.points() * 100) / 100).toFixed(2) %>
</td>