<form action="<%= url %>" method="POST" accept-charset="utf-8">
  <%= render 'layouts/authenticity_token' %>
  <%= render 'layouts/patch_request' if request == :patch %>

  <label>
    League name:
    <input type="text" name="league[name]" value="<%= @league.name %>">
  </label>
  <label>
    League password:
    <input type="password" name="league[password]">
  </label>
  <label>
    <input type="checkbox"
           name="league[private]"
           value="true"
           <%= "checked" if @league.private? %>>
    Private?
  </label>

  <p>
    <input type="submit" value="Continue &rarr;">
    <%= button_to "Cancel", cancel_url, method: :get %>
  </p>
</form>