<div class='col-sm-10'>
  <form action="<%= url %>" method="POST" accept-charset="utf-8" role='form' class='form-horizontal'>
    <%= render 'layouts/authenticity_token' %>
    <%= render 'layouts/patch_request' if request == :patch %>

    <div class='form-group'>
      <label for="username" class="col-sm-3 control-label">Username</label>
      <div class='col-sm-8'>
        <input type="text" name="user[username]" value="<%= @user.username %>" class='form-control'>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-3 control-label">Email</label>
      <div class='col-sm-8'>
        <input type="email" name="user[email]" value="<%= @user.email %>" class='form-control'>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-3 control-label">First Name</label>
      <div class='col-sm-8'>
        <input type="text" name="user[first_name]" value="<%= @user.first_name %>" class='form-control'>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-3 control-label">Last Name</label>
      <div class='col-sm-8'>
        <input type="text" name="user[last_name]" value="<%= @user.last_name %>" class='form-control'>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-3 control-label">Password</label>
      <div class='col-sm-8'>
        <input type="password" name="user[password]" class='form-control'>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-3 control-label">Confirm Password</label>
      <div class='col-sm-8'>
        <input type="password" name="user[password_confirm]" class='form-control'>
      </div>
    </div>

    <button class='btn btn-primary col-sm-offset-3'>Submit &rarr;</button>
  </form>
</div>