<% if (matchup.homeTeam) { %>
  <div class='dark shadow-sm clearfix padded margin-md relative row'>
    <div class='col-sm-6'>
      <h1 class='pull-left no-margin'>
        <%= matchup.homeTeam.get('name') %>
        <small>(<%= matchup.homeTeam.get('wins') %>-<%= matchup.homeTeam.get('losses') %>-<%= matchup.homeTeam.get('ties') %>)</small>
      </h1>
      <h1 class='pull-right no-margin'><%= matchup.homeTeam.get('score') %></h1>
    </div>
    <div class='col-sm-6'>
      <h1 class='pull-left no-margin'><%= matchup.awayTeam.get('score') %></h1>
      <h1 class='pull-right no-margin'>
        <small>(<%= matchup.homeTeam.get('wins') %>-<%= matchup.homeTeam.get('losses') %>-<%= matchup.homeTeam.get('ties') %>)</small>
        <%= matchup.awayTeam.get('name') %>
      </h1>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <table class='table table-hover table-striped'>
        <thead>
          <tr class='info'>
            <th>POS</th>
            <th>Player</th>
            <th class='centered'>Points</th>
          </tr>
        </thead>
        <tbody id='lineup'>
          <tr class='centered dark-section'><td colspan='3' class='no-padding'>
            <small>Starting Lineup</small>
          </td></tr>
          <% matchup.homeTeam.rosterSpots().startingQB().forEach(function(rosterQB) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterQB }) %>
          <% }) %>
          <% matchup.homeTeam.rosterSpots().startingRB().forEach(function(rosterRB) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterRB }) %>
          <% }) %>
          <% matchup.homeTeam.rosterSpots().startingWR().forEach(function(rosterWR) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterWR }) %>
          <% }) %>
          <% matchup.homeTeam.rosterSpots().startingTE().forEach(function(rosterTE) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterTE }) %>
          <% }) %>
          <% matchup.homeTeam.rosterSpots().startingRWT().forEach(function(rosterRWT) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterRWT }) %>
          <% }) %>
          <% matchup.homeTeam.rosterSpots().startingK().forEach(function(rosterK) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterK }) %>
          <% }) %>
          <% matchup.homeTeam.rosterSpots().startingDEF().forEach(function(rosterDEF) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterDEF }) %>
          <% }) %>
          <tr class='centered dark-section'><td colspan='13' class='no-padding'>
            <small>Bench</small>
          </td></tr>
          <% matchup.homeTeam.rosterSpots().benchPlayers().forEach(function(benchPlayer) { %>
            <%= JST['matchups/player_row']({ rosterSpot: benchPlayer }) %>
          <% }) %>
          <% matchup.homeTeam.rosterSpots().benchK().forEach(function(benchPlayer) { %>
            <%= JST['matchups/player_row']({ rosterSpot: benchPlayer }) %>
          <% }) %>
          <% matchup.homeTeam.rosterSpots().benchDEF().forEach(function(benchPlayer) { %>
            <%= JST['matchups/player_row']({ rosterSpot: benchPlayer }) %>
          <% }) %>
        </tbody>
      </table>
    </div>

    <div class='col-sm-6'>
      <table class='table table-hover table-striped'>
        <thead>
          <tr class='info'>
            <th>POS</th>
            <th>Player</th>
            <th class='centered'>Points</th>
          </tr>
        </thead>
        <tbody id='lineup'>
          <tr class='centered dark-section'><td colspan='3' class='no-padding'>
            <small>Starting Lineup</small>
          </td></tr>
          <% matchup.awayTeam.rosterSpots().startingQB().forEach(function(rosterQB) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterQB }) %>
          <% }) %>
          <% matchup.awayTeam.rosterSpots().startingRB().forEach(function(rosterRB) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterRB }) %>
          <% }) %>
          <% matchup.awayTeam.rosterSpots().startingWR().forEach(function(rosterWR) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterWR }) %>
          <% }) %>
          <% matchup.awayTeam.rosterSpots().startingTE().forEach(function(rosterTE) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterTE }) %>
          <% }) %>
          <% matchup.awayTeam.rosterSpots().startingRWT().forEach(function(rosterRWT) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterRWT }) %>
          <% }) %>
          <% matchup.awayTeam.rosterSpots().startingK().forEach(function(rosterK) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterK }) %>
          <% }) %>
          <% matchup.awayTeam.rosterSpots().startingDEF().forEach(function(rosterDEF) { %>
            <%= JST['matchups/player_row']({ rosterSpot: rosterDEF }) %>
          <% }) %>
          <tr class='centered dark-section'><td colspan='13' class='no-padding'>
            <small>Bench</small>
          </td></tr>
          <% matchup.awayTeam.rosterSpots().benchPlayers().forEach(function(benchPlayer) { %>
            <%= JST['matchups/player_row']({ rosterSpot: benchPlayer }) %>
          <% }) %>
          <% matchup.awayTeam.rosterSpots().benchK().forEach(function(benchPlayer) { %>
            <%= JST['matchups/player_row']({ rosterSpot: benchPlayer }) %>
          <% }) %>
          <% matchup.awayTeam.rosterSpots().benchDEF().forEach(function(benchPlayer) { %>
            <%= JST['matchups/player_row']({ rosterSpot: benchPlayer }) %>
          <% }) %>
        </tbody>
      </table>
    </div>

  </div>
<% } %>