<h1>Add Player</h1>

<table class="info responsiveTable" style="width: 100%; font-size: 15px;">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Passing Yards</th>
      <th>Passing TDs</th>
      <th>Interceptions</th>
      <th>Rushing Yards</th>
      <th>Rushing TDs</th>
      <th>Receiving Yards</th>
      <th>Receiving TDs</th>
      <th>Fumbles</th>
      <th>2 Pt Conversions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td>
          <%= render 'layouts/player_actions', player: player %>
        </td>
        <td>
          <%= player.name %><br>
          <small>
            <%= player.position %> - <%= Player::TEAMS[player.nfl_team_id].join(" ") %>
          </small>
        </td>
        <td>
          <%= player.pass_yards %>
        </td>
        <td>
          <%= player.pass_tds %>
        </td>
        <td>
          <%= player.pass_ints %>
        </td>
        <td>
          <%= player.rush_yards %>
        </td>
        <td>
          <%= player.rush_tds %>
        </td>
        <td>
          <%= player.rec_yards %>
        </td>
        <td>
          <%= player.rec_tds %>
        </td>
        <td>
          <%= player.fumbles %>
        </td>
        <td>
          <%= player.two_pt_conv %>
        </td>
      </tr>
    <% end %>
</table>