<h1>Add Player</h1>

<table class="info responsiveTable" style="width: 100%; font-size: 15px;">
  <thead>
    <tr>
      <th>Add?</th>
      <th>Name</th>
      <th>Passing Yards</th>
      <th>Passing TDs</th>
      <th>Interceptions</th>
      <th>Rushing Yards</th>
      <th>Rushing TDs</th>
      <th>Receiving Yards</th>
      <th>Receiving TDs</th>
      <th>Fumbles</th>
      <th>2 Pt Conversions</th>
    </tr>
  </thead>
  <tbody>
    <% @players[0..50].each do |player| %>
      <tr>
        <td>
          <%= link_to "+",
                      team_add_drops_url(@team),
                      :class => 'add-player',
                      "data-id" => player.id %>
        </td>
        <td>
          <%= player.name %><br>
          <small><%= player.position %> - <%= Player::TEAMS[player.nfl_team_id].join(" ") %></small>
        </td>
        <td>
          <%= player.pass_yards %>
        </td>
        <td>
          <%= player.pass_tds %>
        </td>
        <td>
          <%= player.pass_ints %>
        </td>
        <td>
          <%= player.rush_yards %>
        </td>
        <td>
          <%= player.rush_tds %>
        </td>
        <td>
          <%= player.rec_yards %>
        </td>
        <td>
          <%= player.rec_tds %>
        </td>
        <td>
          <%= player.fumbles %>
        </td>
        <td>
          <%= player.two_pt_conv %>
        </td>
      </tr>
    <% end %>
</table>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.add-player').on('click', function(e) {
      e.preventDefault();
      var $addLink = $(e.target);
      var url = $addLink.attr('href');
      var addedPlayer = {
        player_id: $addLink.attr("data-id"),
        type: "add"
      }

      $.ajax({
        url: url,
        type: 'POST',
        data: addedPlayer,
        success: function() {
          console.log("Successfully added player!")
          document.location = '<%= league_team_url(@team.league, @team) %>'
        }
      })
    })
  })
</script>