<h1>Watch List</h1>

<table class="info responsiveTable" style="width: 100%; font-size: 15px;">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Passing Yards</th>
      <th>Passing TDs</th>
      <th>Interceptions</th>
      <th>Rushing Yards</th>
      <th>Rushing TDs</th>
      <th>Receiving Yards</th>
      <th>Receiving TDs</th>
      <th>Fumbles</th>
      <th>2 Pt Conversions</th>
    </tr>
  </thead>
  <tbody>
    <% @watched_players.each do |player| %>
      <tr>
        <td>
          <a href='<%= team_add_drops_url(@team) %>'
             class='add-player'
             data-id='<%= player.id %>'>
             <i class='icon-expand-alt' style="font-size: 18px;"></i>
          </a>
          <% watched_player_join = @watched_player_joins.find_by_player_id(player.id) %>
          <a href='<%= team_watched_player_url(@team, watched_player_join.id) %>'
             class='watch-player remove'
             data-id='<%= watched_player_join.id %>'>
             <i class='icon-eye-close' style="font-size: 15px;"></i>
          </a>
        </td>
        <td>
          <%= player.name %><br>
          <small>
            <%= player.position %> - <%= Player::TEAMS[player.nfl_team_id].join(" ") %>
          </small>
        </td>
        <td>
          <%= player.pass_yards %>
        </td>
        <td>
          <%= player.pass_tds %>
        </td>
        <td>
          <%= player.pass_ints %>
        </td>
        <td>
          <%= player.rush_yards %>
        </td>
        <td>
          <%= player.rush_tds %>
        </td>
        <td>
          <%= player.rec_yards %>
        </td>
        <td>
          <%= player.rec_tds %>
        </td>
        <td>
          <%= player.fumbles %>
        </td>
        <td>
          <%= player.two_pt_conv %>
        </td>
      </tr>
    <% end %>
</table>
<%= link_to "Back to your team", league_team_url(@team.league, @team) %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.watch-player.remove').on('click', function(e) {
      e.preventDefault();
      var $watchLink = $(e.currentTarget);
      var url = $watchLink.attr('href');

      $.ajax({
        url: url,
        type: 'DELETE',
        success: function() {
          document.location = '<%= team_watched_players_url(@team) %>'
        }
      })
    })
  })
</script>