<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Football</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <nav class="navbar navbar-default shadow" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Fantasy<span class='glyphicon glyphicon-fire'></span>Football</a>
      </div>

      <div class="collapse navbar-collapse">
        <% if @user = current_user %>
          <%= render 'layouts/sign_out' %>
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome, <%= @user.first_name %></a></li>
          </ul>
        <% else %>
          <%= render 'layouts/sign_in' %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign up", new_user_url %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

  <div class='container no-padding'>
    <div class='center-block'>
      <% unless @user %>
        <div class='content shadow'>
          <form action="<%= session_url %>" method="POST" accept-charset="utf-8" role='form'>
            <%= render 'layouts/authenticity_token' %>

            <input type="hidden" name="user[username]" value="test">
            <input type="hidden" name="user[password]" value="123456">

            <button class='btn btn-lg btn-success btn-block'>Sign in as demo user</button>
          </form>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>


  <script type="application/json" charset="utf-8" id='current-user'>
    { "user": <% if @user %>
     <%= @user.to_json(only: [:id, :username, :email, :first_name, :last_name]).html_safe %>
   <% else %>
      { "id": null }
    <% end %> }
  </script>
  <script type="application/json" charset="utf-8" id='current-teams'>
    { "teams": [
      <% if @user %>
        <% @user.teams.each do |team| %>
          {"id": <%= team.id %>,
          "name": "<%= team.name %>",
          "league_id": <%= team.league_id %>,
          "user_id": <%= team.user_id %>,
          "roster_spots": [
            <% team.roster_spots.each do |roster_spot| %>
              {"position": "<%= roster_spot.position %>",
              "player": <%= roster_spot.player.to_json.html_safe %>}
              <%= team.roster_spots.last != roster_spot ? "," : "" %>
            <% end %>
          ],
          "matchup": <%= team.current_matchup.to_json.html_safe %>
          }<%= @user.teams.last != team ? "," : "" %>
        <% end %>
      <% end %>
    ]}
  </script>
</body>
</html>

