<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Football</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  Welcome, <%= current_user.first_name %>
  <%= render 'layouts/sign_out' %>
<% else %>
  <%= link_to "Sign up", new_user_url %> or <%= render 'layouts/sign_in' %>
<% end %>

<%= render 'layouts/notices' %>

<%= yield %>

</body>
</html>
